section#contacts
	.wrapper
		h2=contacts.name
		ul
			each contact in contacts.contacts
				li
					//-img(src=require('../images/contacts/' + contact.id + '.png').default alt=contact.name width="100" height="100" loading="lazy")
					h3=contact.name
					p.role=contact.role
					p=contact.email
					p=contact.phone
		h4=developer
