section#references
	.wrapper
		h2=references.name
		ul
			each reference in references.references
				li
					a(href=`${reference.website}`  target='_blank')
						img(src=require(`../images/references/${reference.id}.png`).default alt=reference.name)
