section#services
	.wrapper
		h2= services.name
		ul
			each service in services.services
				li
					a(href=('#' + service.id))=service.name
		each service in services.services
			section(id=service.id)
				.text
					h3=service.name
					each paragraph in service.description
						p=paragraph
					ul
						each point in service.points
							li= point
				.services
					.services-container
						each slide in service.slides
							.services-slide
								img(data-lazy=require('../images/services/' + slide.id + '.png').default alt=slide.alt)
			hr
